/* Header Section*/

#header-section{
  background-color:#ff4c68;
  padding-bottom: 50px;
}
.nav-item{
  padding: 10px 10px;
}

.nav-link{
  color:white;
  font-family:'Ubuntu';
  font-size:1.05rem;
}
.nav-link:hover{
  color:#ef8172;

}

.about-me{
  font-family: 'Ubuntu';
  font-size:3rem;
  padding-top: 5%;
}
.header-content{
    line-height:2;
    color:white;
}

/* Projects Section */

#project-section{
  padding: 5% 5% 12%; /*top,left,right,bottom*/
}

.proj-head{
  font-family: 'Ubuntu';
  font-size: 80px;
  font-weight: bold;
  color:#ff4c68;
  text-align: center;
  padding-bottom: 100px;
}

.proj-img1{
  width:20%;
 float:left;   /*image floats left to the text */
  margin-right: 5%;
}

.proj-img2{
  width:35%;
  float:right;
  margin-left: 5%;
}

.proj-content{
  color:#ef8172;
  font-family: 'Montserrat';
  font-size: 20px;
  padding-bottom: 150px;
}


/* Blog Section */
#blogs-section{
  padding-top:10px;
    background-color:#ef8172;

}

.blog-head{
  font-family: 'Ubuntu';
  font-size: 80px;
  font-weight: bold;
  color:white;
  text-align: center;
}

h5{
  color:white;
}
.carousel-img{
  width:45%;
  margin:7% 27%;
  padding-bottom: 10px;
}

/* Skills Section */

.skill-head{
  padding-top: 30px;
  font-family: 'Ubuntu';
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  color:#ff4c68;

}
.skill-row{
  width:50%;
  margin: 150px auto 100px auto;
  text-align: left;
  line-height: 1.5;
}

.code-img{
  width: 35%;
  float: left;/*image floats to left of the text*/
  margin-right: 30px;
}

.content-img{
  width: 35%;
  float: right;
  margin-left: 30px;
}

.deb-img{
  width:35%;
  float:left;
  margin-right: 60px;
}

.skill-heading{
  font-family: 'Ubuntu';
  font-size: 30px;
  color:#ff4c68;
}

.skill-desc{
  font-family: 'Ubuntu';
  font-size: 20px;
  color:#ef8172;
}

/* Contact Section */

#contact-section{
  background-color:#ff4c68;
  padding-top: 50px;
  text-align: center;
}

.contact-heading{
  font-family: 'Ubuntu';
  color:white;
  font-size: 50px;
  text-align: center;
}

.contact-desc{
  font-family: 'Ubuntu';
  color:white;
  font-size:20px;
  text-align:center;
}

.contact-btn{
  margin:5%;
  color:white;
  border-color: white;
}

.contact-btn:hover{
  color:#ef8172;
}
